/* All Desktop CSS goes under here */

.about-section {
  background-color: #1e1e1e;
  padding-top: 100px;
  padding-bottom: 100px;
}

.location {
	text-align: center;
}

#openOrNot{
  padding-top: 5px;
}

.contact-section {
  padding-top: 100px;
  padding-bottom: 20px;
}

.menu-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #333333;
}

.btn-default {
  color: FireBrick;
  border: 1px solid FireBrick;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid FireBrick;
  outline: none;
  background-color: FireBrick;

}

.size {
  width: 600px;
  padding-right: 50px;
}

.banner-social-buttons {
	padding-top: 50px;
}

/* All Mobile CSS goes under here */