/* All Desktop CSS goes under here */

.about-section {
  background-color: rgb(105,105,105);
}

.location {
	text-align: center;
}

#openOrNot{
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
}
/* All Mobile CSS goes under here */